/* Estilos gerais */
:root {
  --primary-color: #003366;
  --secondary-color: #002244;
  --background-color: #f8f9fa;
  --button-radius: 30px;
}

body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: #333;
  padding-top: 50px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; 
}

h1, .form-label {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
}

.form-label {
  font-weight: 500;
  font-size: 1rem;
  color: #6c757d;
}

/* Estilos dos campos de formulário */
.form-control {
  border-radius: 10px;
  border: 1px solid #ced4da;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 51, 102, 0.5);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos do botão */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: var(--button-radius);
  padding: 10px 30px;
  width: 100%;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-close {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1050; 
}

.btn-cadastrar {
  font-size: 0.875rem;
  padding: 6px 20px;
  width: auto;
  height: auto;
  border-radius: 25px;
  border: none;
  outline: none;
}


/* Estilos da Modal */
.modal-dialog {
  max-width: 70%;
  padding: 10px !important;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

.modal-dialog-login {
  max-width: 400px;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animação de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilo das abas */
.nav-pills .nav-link {
  background-color: #ffffff;      
  color: #333;                    
  border-radius: 10px;             
  font-weight: 500;
  padding: 8px 20px;
  transition: all 0.3s ease;
  border: none;                 
  box-shadow: none; 
  margin-right: 10px             
}

.nav-pills .nav-link.active {
  background-color: transparent;         
  color: #003366;                        
  border-bottom: 3px solid #003366; 
  border-radius: 0;                   
}

.nav-pills .nav-link:hover {
  background-color: #e4e3e3;      
  color: #333;
}


/* Responsividade */
@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-primary {
    padding: 8px 20px; 
  }
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.tab-content {
  padding-top: 20px;
}
