 <!-- Modal de Login -->
    <div id="loginModal" class="modal fade" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-login modal-dialog-centered modal-dialog-login">
        <div class="modal-content p-4 text-center">
        <button type="button" class="btn-close ms-auto" onclick="closeLoginModal()" aria-label="Fechar"></button>
        <img src="img/solaro_logo.png" alt="Logo Marketplace" style="max-width: 150px; margin: 10px auto 20px;" />
        <h5 class="fw-bold text-black-50 mb-3">Login</h5>
        <form onsubmit="event.preventDefault(); validarLogin();" style="font-family: 'Poppins', sans-serif;">
            <div class="mb-3 text-start">
            <label for="loginEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="loginEmail" placeholder="Digite seu email" required>
            </div>
            <div class="mb-3 text-start">
            <label for="loginSenha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="loginSenha" placeholder="Digite sua senha" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary w-100 py-2">Entrar</button>
        </form>
        <p class="mt-3 small">
            Não tem uma conta?
            <button class="btn btn-link p-0" onclick="openFormularioModal()">Cadastrar-se</button>
        </p>
        </div>
    </div>
    </div>