<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <img src="img/solaro_logo_menor.png" alt="Logo Marketplace" style="max-width: 50px;" class="me-2" />

        <ul class="navbar-nav ms-auto">
            <li class="text-tertiary">
                <a class="nav-link logo-solaro text-white" href="/index">SOLARO</a>
            </li>
        </ul>


        <!-- Botão Sanduíche -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu de Navegação -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#" onclick="postToDashboard(event)">Dashboard de Energia</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white" href="/sustentabilidade">Sustentabilidade</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/duvidas">Dúvidas</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/contato">Contato</a></li>
                <li class="nav-item">
                    <a class="nav-link entrar-btn" data-bs-toggle="modal" data-bs-target="#loginModal">
                        Entrar no Marketplace
                    </a>
                </li>
                <form id="dashPostForm" action="/dash" method="POST" style="display: none;"></form>
            </ul>
        </div>
    </div>
</nav>