<!DOCTYPE html>
<html lang="pt-BR">
<!-- Head -->
{{> head }}

<body>
<header class="custom-header">
{{> navbar_index }}
</header>
<br>

<section class="solaro-hero d-flex align-items-center">
  <div class="hero-image">
    <div class="hero-overlay">
      <div class="hero-text">
        <h1 class="display-5 fw-bold text-primary">SOLARO</h1>
        <p class="lead mt-3">
          O Marketplace SOLARO conecta fornecedores e consumidores de energia solar de forma simples, rápida e sustentável.
        </p>
      </div>
    </div>
  </div>
</section>

   <!-- Modal de Login -->
   {{> login }}

   <!-- Modal de Cadastro -->
   {{> form_cadastro }}

    <div class="main-content">
        <h1>OFERTAS</h1>
        <div class="informativo">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>


  <section class="solaro-hero d-flex align-items-center">
    <div class="container-fluid">
      <div class="row align-items-center">

      <!-- Texto à esquerda -->
      <div class="col-lg-6 col-md-12 px-5 py-4">
        <h1 class="display-5 fw-bold">Marketplace SOLARO</h1>
        <p class="lead mt-3 text-secondary">
          Energia Solar é Sustentabilidade em Ação! Transforme a luz do sol em energia limpa e diga adeus à poluição. Com a energia solar, você economiza e ainda ajuda a preservar o planeta. O futuro é renovável.
        </p>
      </div>

      <!-- Imagem à direita -->
      <div class="col-lg-6 col-md-12 p-0">
        <img src="img/placa-solar.jpg" alt="Placa Solar" class="img-fluid w-100 hero-img" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;" />
      </div>

      </div>
    </div>
  </section>

<!-- Footer e JS -->
{{> footer }}    
</body>
</html>