<!DOCTYPE html>
<html lang="pt-BR">
<!-- Head -->
{{> head }}

<body>
  <header class="custom-header">
    {{> navbar_index }}
  </header>
  <br>

  <!-- Modal de Login -->
  {{> login }}

  <!-- Modal de Cadastro -->
  {{> form_cadastro }}

  <section id="secao-sustentabilidade" class="sustentabilidade-section py-5 bg-white">
    <div class="container">
      <h2 class="titulo-sustentabilidade text-center mb-4">Sustentabilidade e ODS 7</h2>
      <p class="texto-introducao text-center mb-5">
        Conheça como o SOLARO contribui para o <strong>Objetivo de Desenvolvimento Sustentável 7</strong>: assegurar o
        acesso confiável, sustentável, moderno e a preço acessível à energia para todas as pessoas.
      </p>

      <div class="div-sust row g-10">

        <!-- Postagem 1 -->
        <div class="col-12 col-md-4">
          <div class="h-100 shadow-sm">
            <a href="https://www.iberdrola.com/sustentabilidade/energias-limpas" target="_blank"><img src="img/img1.jpg" class="imagem-card" alt="Energia solar"></a>
            <div class="conteudo-card">
              <h5 class="titulo-card">O que são as energias limpas? São a mesma coisa que energia verde e energia renovável?</h5>
              <p class="descricao-card">Energias limpas são aquelas que não emitem poluentes, essenciais para combater as mudanças climáticas e garantir um futuro sustentável, como solar, eólica e hidrelétrica.</p>
            </div>
          </div>
        </div>

        <!-- Postagem 2 -->
        <div class="col-12 col-md-4">
          <div class="h-100 shadow-sm">
            <a href="https://brasil.un.org/pt-br/sdgs/7" target="_blank"><img src="img/img2.jpg" class="imagem-card" alt="ODS7"></a>
            <div class="conteudo-card">
              <h5 class="titulo-card">Energia limpa e acessível – Objetivo de Desenvolvimento Sustentável 7</h5>
              <p class="descricao-card">O ODS 7 da ONU busca garantir acesso universal e sustentável à energia limpa, moderna e acessível até 2030.</p>
            </div>
          </div>
        </div>

        <!-- Postagem 3 -->
        <div class="col-12 col-md-4">
          <div class="h-100 shadow-sm">
            <a  href="https://assine.raizenpower.com.br/material-rico-glossario-setor-eletrico" target="_blank"><img src="img/img3.jpg" class="imagem-card" alt="Energia Renovável"></a>
            <div class="conteudo-card">
              <h5 class="titulo-card">Energia Renovável: Seu Guia Completo</h5>
              <p class="descricao-card">Os principais tipos de energia renovável no Brasil, como solar, hídrica, biomassa e biogás, e sua importância para o futuro sustentável.<p>
            </div>
          </div>
        </div>

        <!-- Postagem 4 -->
        <div class="col-12 col-md-4">
          <div class="h-100 shadow-sm">
            <a href="https://www.novaenergia.com.br/blog/mercado-livre-de-energia-pode-chegar-aos-consumidores/" target="_blank"><img src="img/img4.jpg" class="imagem-card" alt="Casa com energia solar"></a>
            <div class="conteudo-card">
              <h5 class="titulo-card">O futuro do Mercado Livre de energia no Brasil</h5>
              <p class="descricao-card">O mercado livre de energia deve ser ampliado no Brasil, permitindo que mais consumidores escolham seu fornecedor e tenham acesso a energia mais barata e sustentável.</p>
            </div>
          </div>
        </div>

        <!-- Postagem 5 -->
        <div class="col-12 col-md-4">
          <div class="h-100 shadow-sm">
            <a href="https://www.solavistaenergy.com.br/energia-solar-e-onda-de-calor-quantas-placas-solares-para-aliviar-o-calor-com-seu-ar-condicionado" target="_blank"><img src="img/img5.jpg" class="imagem-card" alt="Placas solares"></a>
            <div class="conteudo-card">
              <h5 class="titulo-card">Quantas placas solares para aliviar o calor com ar-condicionado?</h5>
              <p class="descricao-card">A energia solar se destaca oferecendo uma fonte de energia limpa e sustentável para garantir tranquilidade durante esses períodos de calor intenso.</p>
            </div>
          </div>
        </div>

        <!-- Postagem 6 -->
        <div class="col-12 col-md-4">
          <div class="h-100 shadow-sm">
            <a href="https://www.solavistaenergy.com.br/geracao-solar-no-brasil-atinge-14-gw" target="_blank"><img src="img/img6.jpg" class="imagem-card" alt="Placas solares"></a>
            <div class="conteudo-card">
              <h5 class="titulo-card">Geração solar no Brasil atinge 14 GW</h5>
              <p class="descricao-card">O Brasil alcançou 14 GW de energia solar instalada, igualando a usina de Itaipu. O setor já atraiu bilhões em investimentos e gerou centenas de milhares de empregos.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- Espaçamento -->
  <div style="height: 100px;"></div>

  <!-- Footer e JS -->
  {{> footer }}

</body>

</html>