/* Variáveis de cor */
:root {
  --primary-color: #003366; 
  --secondary-color: #002244; 
  --background-color: #f8f9fa; 
  --button-radius: 30px;
}

/* Estilo geral do body */
body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0; 
  padding: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #003f7f;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav bar */
nav a {
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  background-color: #fff;
  color: #333;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: #003f7f;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Conteúdo principal da tela inicial */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/* Seção informativa */
.informativo {
  width: 100%;
  max-width: 800px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Card */
.card {
  flex: 1;
  margin: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 100%;
}

/* Botões */
.entrar-btn, .btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Hover nos botões */
.btn-primary:hover, .entrar-btn:hover {
  background-color: #fff;
  color: #333;
}


.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
  flex: 1; 
}

h1, .form-label {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--primary-color); 
  margin-bottom: 30px;
}

.form-label {
  font-weight: 400;
  font-size: 1rem;
  color: #6c757d;
  transition: color 0.3s ease; 
  padding-bottom: 5px;
}

/* Foco nos campos de entrada */
.form-control {
  border-radius: 8px;
  border: 1px solid #ced4da;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 51, 102, 0.5);
}

/* Estilo do titulo */
.text-primary {
  color: var(--primary-color) !important;
}

/* Estilo do botão principal */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: var(--button-radius);
  padding: 10px 30px;
  width: 100%;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

/* Hover no botão principal */
.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* Estilo do botão de fechar */
.btn-close {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1050; 
}

/* Botão de cadastro */
.btn-cadastrar {
  font-size: 0.875rem;
  padding: 6px 20px;
  width: auto;
  height: auto;
  border-radius: 25px;
  border: none;
  outline: none;
}

/* Estilo da modal */
.modal-dialog {
  max-width: 70%;
  padding: 10px !important;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

.modal-dialog-login {
  max-width: 400px;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra {
  background-color: var(--primary-color);
  width: 33%;
}


/* Animação de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilo das abas */
.nav-pills .nav-link {
  background-color: #ffffff;      
  color: #333;                    
  border-radius: 10px;             
  font-weight: 500;
  padding: 8px 20px;
  transition: all 0.3s ease;
  border: none;                  
  box-shadow: none; 
  margin-right: 10px;              
}

/* Aba ativa */

.nav-pills .nav-link.active {
  background-color: transparent;         
  color: var(--primary-color);                        
  border-bottom: 3px solid var(--primary-color) !important; 
  border-radius: 0;                   
}

/* Responsividade */
@media (max-width: 576px) {
  h1 {
      font-size: 2rem;
  }

  .container {
      padding-left: 15px;
      padding-right: 15px;
  }

  .btn-primary {
      padding: 8px 20px; 
  }
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.tab-content {
  padding-top: 20px;
}

.nav-pills .nav-link {
  pointer-events: none;
  border-bottom: 2px solid transparent;
  color: #6c757d;
  background-color: transparent;
  font-weight: 500;
}

.nav-pills .nav-link.active {
  pointer-events: auto;
  border-bottom: 3px solid #0d6efd; 
  background-color: transparent;
}/* Variáveis de cor */
