/* Variáveis de cor */
:root {
  --primary-color: #003366; 
  --secondary-color: #002244; 
  --background-color: #f8f9fa; 
  --button-radius: 30px;
}

/* Estilo geral do body */
body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0; 
  padding: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #003f7f;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navegação */
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: #003f7f;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Conteúdo principal */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/* Seção informativa */
.informativo {
  background-color: #d9d9d9;
  width: 100%;
  max-width: 800px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Cartão */
.card {
  flex: 1;
  margin: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 100%;
}

/* Botões */
.entrar-btn, .btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Hover nos botões */
.btn-primary:hover, .entrar-btn:hover {
  background-color: var(--secondary-color);
}

/* Estilo da modal */
.modal-dialog {
  max-width: 70%;
  padding: 10px !important;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

/* Estilos do título */
h1, .form-label {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--primary-color); 
  margin-bottom: 30px;
}

.form-label {
  font-weight: 400;
  font-size: 1rem;
  color: #6c757d;
  transition: color 0.3s ease; 
  padding-bottom: 5px;
}

/* Foco nos campos de entrada */
.form-control {
  border-radius: 8px;
  border: 1px solid #ced4da;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 51, 102, 0.5);
}

/* Estilos das abas */
.nav-pills .nav-link {
  background-color: #ffffff;      
  color: #333;                    
  border-radius: 10px;             
  font-weight: 500;
  padding: 8px 20px;
  transition: all 0.3s ease;
  border: none;                  
  box-shadow: none; 
  margin-right: 10px;              
}

.nav-pills .nav-link.active {
  background-color: transparent;         
  color: var(--primary-color);                        
  border-bottom: 3px solid var(--primary-color); 
  border-radius: 0;                   
}

/* Responsividade */
@media (max-width: 576px) {
  h1 {
      font-size: 2rem;
  }

  .container {
      padding-left: 15px;
      padding-right: 15px;
  }

  .btn-primary {
      padding: 8px 20px; 
  }
}

/* Animação de fade-in */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}