:root {
  --primary-color: #003366;
  --secondary-color: #002244;
  --background-color: #f8f9fa;
  --button-radius: 30px;
}

/* Estilo geral */
body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 1030; 
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

nav a {
  font-size: 0.9rem;
  border-radius: 8px;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
}

nav a:hover {
  background-color: var(--primary-color);
  color: #002244;
  cursor: pointer;
}

.navbar-nav .nav-link {
  color: #333 !important;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: #093c6856;
}

/* Header */
.custom-header {
  background-color: #f9f9f9;
  padding: 10px 20px;
}

.header-principal, .hero, .banner, main {
  margin-top: 100px; 
}

/* Botões */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar .entrar-btn {
  background-color: var(--primary-color);
  color: white !important;
  padding: 8px 15px;
  border-radius: 8px;
  margin-left: 10px;
}

.navbar .entrar-btn:hover {
  background-color: #093c6856;
  color: #333 !important;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

/* Footer */
footer {
  background-color: #17212c;
  color: white;
  text-align: center;
  padding: 15px 10px;
  font-size: 0.9rem;
  width: 100%;
  margin-top: auto;
  word-break: break-word;
}

/* Conteúdo principal */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.card {
  flex: 1;
  margin: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
  flex: 1;
}

.container-img{
  margin: 0 ;
  padding: 0;
}
/* Card informativo*/
.cards-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.card-informativo {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-left: 4px solid var(--primary-color);
  border-radius: 10px;
  padding: 15px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.3s ease;

  max-width: 260px;
  min-height: 160px;
  width: 100%;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-informativo span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.95rem;
  color: var(--primary-color);
  margin-bottom: 6px;
}

.card-informativo:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.informativo .col-md-6 {
  display: flex;
  justify-content: center; 
}

.informativo .col-md-6 .card-informativo {
  flex: none; 
}

/* FAQ */
.faq-container {
  max-width: 700px;
  margin: auto;
}

.faq-item {
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  padding: 15px;
}

.faq-question {
  padding: 15px;
  cursor: pointer;
  background-color: #ffffff;
  font-weight: bold;
  transition: background 0.3s ease;
}

.faq-question:hover {
  background-color: #e0e0e044;
}

.faq-answer {
  display: none;
  padding: 10px;
  border-top: 2px solid var(--primary-color);
  background-color: #fff;
  animation: fadeIn 0.3s ease;
}

.faq-item.active .faq-answer {
  display: block;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Tipografia */
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
} 

h1 span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: rgba(235, 194, 70, 0.951);
  margin-bottom: 30px;
}

.form-label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #6c757d;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

/* Formulário */
.form-control { 
  border-radius: 8px;
  border: 1px solid #ced4da;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 51, 102, 0.5);
}

/* Botões e ações */
.btn-close {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1050;
}

.btn-cadastrar {
  font-size: 0.875rem;
  padding: 6px 20px;
  border-radius: 25px;
  border: none;
}

/* Modal */
.modal-dialog {
  max-width: 70%;
  padding: 10px !important;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-dialog-login {
  max-width: 400px;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

/* Seção hero com altura fixa */
.solaro-hero {
  width: 100%;
  height: 800px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

/* Div que contém a imagem de fundo */
.hero-image {
  background-image: url('../img/placa-solar.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Gradiente sobre a imagem */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(2, 4, 37, 0.728),   
    rgba(8, 12, 45, 0.5),  
    rgba(93, 103, 249, 0)        
  );
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

/* Texto sobre o gradiente */
.hero-text {
  width: 40vw;
  padding: 2rem;
  color: #fff;
  z-index: 2;
  position: relative;
}

.solaro-hero h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.solaro-hero p {
  font-size: 1.2rem;
  color: #fff;
}

.clear-after-hero {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.hero-img2 img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 991.98px) {
  .hero-img2 img {
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
}

/* Abas */
.nav-pills .nav-link {
  background-color: transparent;
  color: #6c757d;
  border-radius: 10px;
  font-weight: 500;
  padding: 8px 20px;
  margin-right: 10px;
  border-bottom: 2px solid transparent;
  pointer-events: none;
}

.nav-link .text{
  color: #333;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  pointer-events: auto;
  border-radius: 0;
}

/* Utilitários */
.text-primary {
  color: #fff !important;
}

.text-secondary {
  color: #333 !important;
}

.text-tertiary {
  color: var(--primary-color) !important;
  font-weight: bold;
  font-size: 25px;
  padding-right: 30px;
}

.text-p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #6c757d;
  padding-bottom: 5px;
  text-align: center;
  transition: color 0.3s ease;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.tab-content {
  padding-top: 20px;
}

.barra {
  background-color: var(--primary-color);
  width: 33%;
}

.progress-bar.barra {
  background-color: #003366;
  transition: width 0.3s ease;
}

/* Animações */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Responsividade */
@media (max-width: 768px) {
  .solaro-hero {
    height: 400px;
    padding-left: 2%;
    background-position: center right;
  }

  .hero-text,
  .solaro-hero h1,
  .solaro-hero p {
    text-align: center;
    width: 100%;
  }

  .solaro-hero .btn {
    display: block;
    margin: 0 auto;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  nav a {
    margin: 5px 8px;
    padding: 8px 12px;
  }

  nav a:hover {
    background-color: #ffffff06;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  .container {
    padding: 0 15px;
  }

  .btn-primary {
    padding: 8px 20px;
  }

  .hero-img {
    border-radius: 0;
    max-height: 300px;
  }

  nav a:hover {
    background-color: #ffffff06;
    padding: 10px;
  }
}
